Source: unity-webapps-thisismyjam
Section: web
Priority: extra
Standards-Version: 3.9.3
Maintainer: Jan Vlnas <dev@jan.vlnas.cz>
Build-Depends: debhelper (>=7)
Homepage: http://www.thisismyjam.com

Package: unity-webapps-thisismyjam
Architecture: all
Section: web
Priority: extra
Depends: unity-webapps-common, xdg-utils, ${misc:Depends}
XB-Ubuntu-Webapps-Includes: http://www.thisismyjam.com/*;http://www.thisismyjam.com
XB-Ubuntu-Webapps-Name: This Is My Jam
XB-Ubuntu-Webapps-Domain: thisismyjam.com
Description: Unity Webapp for This Is My Jam
 This Is My Jam Webapp for Unity
